body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 1;
	border: 2px solid black;
}

h2 {
	margin-top: 0
}

#header {
	padding-left: 30px;
	padding-top: 30px;
	padding-right: 20px;
	padding-bottom: 10px;
	text-align: right;
	border-bottom: 2px solid black;
}

#header h1 {
	text-align: left;
	font-size: 36px;
	font-weight: bold;
	margin: 0;
	color: #0080c0;
}

#header a {
	padding-left: 20px;
}

#menu {
	float: left;
	width: 200px;
	height: 150px;
	margin: 10px 10px 20px 5px;
	background-color: #b7b6b6;
}

#menu h2 {
	color: white;
	background-color: #878282;
	margin: 12px 0px 0px 7px;
	text-align: center;
	font-size: 16px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#menu ul {
	background-color: white;
	margin: 5px 5px 0px 30px;
	padding-top: 10px;
	padding-bottom: 5px;
	padding-left: 40px;
	height: 60px;
	list-style-image: url("#{resource['img:marker.gif']}");
}

#menu li {
	padding-left: 15px;
}

#menu div {
	padding: 2px;
}

#content {
	margin: 10px 5px 20px 225px;
	padding: 30px;
	border: 2px solid #333;
	border-color: #b7b6b6;
	min-height: 599px;
}

#footer {
	text-align: center;
	font-weight: bold;
	clear: both;
	border-top: 2px solid black;
}



#news-list {
	padding-left: 50px;
}

#news-list-title {
	font-size: 16px;
	font-weight: bold;
	margin-right: 200px;
	float: left;
}

#news-list-brief {
	font-size: 16px;
	font-weight: normal;
	margin-right: 200px;
}

#news-list-date {
	font-size: 16px;
	font-weight: normal;
	text-decoration: underline;
	text-align: right;
}

#control {
	font-size: 14px;
	font-weight: normal;
	text-align: right;
}

#delete {
	text-align: right;
	padding-top: 30px;
	padding-left: 25px;
}

#button-delete {
	font-size: 16px;
}

#edit-button {
	margin-left: 250px;
	text-align: center;
	float: left;
	padding-right: 25px;
}

#edit-button-style {
	font-size: 16px;
}

#view {
	margin-left: 50px;
	margin-top: 20px;
	margin-right: 200px;
}

#view-first-column {
	color: #878282;
	width: 150px;
	vertical-align: top;
}

#floater {
	float: right;
	text-align: right;
	padding-left: 25px;
}

#text-title-style {
	width: 400px;
}

#textarea-brief-style {
	width: 400px;
	height: 100px;
}

#textarea-content-style {
	width: 400px;
	height: 200px;
}