<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"    
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head></h:head>
    <h:body>
    	<ui:composition template="/pages/common/template.xhtml">
 			<ui:define name="content">
 				<h:form style="display: inline;">
					<h:commandLink action="#{pageController.showNews}"
						value="#{msg['label.common.news']}" />
				</h:form>
				<h:outputText rendered="#{isAddPage}" 
						value="#{msg['label.common.section.add']}"/>
 				<h:outputText rendered="#{isEditPage}" 
 						value="#{msg['label.common.section.edit']}"/>
 				<h:form id="form" onsubmit="return validate();">
	 				<table id="view" cellspacing="20px">
					    <tr>
					        <td id="view-first-column">
					        	<h:outputText value="#{msg['label.common.table.title']}"/>
					        </td>
					        <td id="view-second-column">
					        	<h:inputText id="title" value="#{newsBean.currentNews.title}" 
					        			required="true" requiredMessage="#{msg['error.message.required.title']}"
					        			name="title">
					        		<f:validator validatorId="com.epam.news2.validation.TitleValidator"/>
					        		<f:attribute name="message" value="#{msg['error.message.maxlength.title']}" />
					        	</h:inputText>
					        	<h:message for="title" style="color:red"/>
							</td>
					    </tr>
					    <tr>
					        <td id="view-first-column">
					        	<h:outputText value="#{msg['label.common.table.date']}"/>
					        </td>
					        <td id="view-second-column">
					        	<h:inputText id="date" value="#{newsBean.currentNews.date}"
					        			required="true" requiredMessage="#{msg['error.message.required.date']}"
					        			name="date">
					        		<f:converter converterId="com.epam.news2.convert.DateConverter"/>
					        		<f:validator validatorId="com.epam.news2.validation.DateValidator"/>
					        		<f:attribute name="message" value="#{msg['error.message.format.date']}" />
					        	</h:inputText>
					        	<h:message for="date" style="color:red"/>
							</td>
					    </tr>
					    <tr>
					    	<td id="view-first-column">
					        	<h:outputText value="#{msg['label.common.table.brief']}"/>
					        </td>
					        <td id="view-second-column">
					        	<h:inputTextarea id="brief" value="#{newsBean.currentNews.brief}" 
					        			required="true" requiredMessage="#{msg['error.message.required.brief']}"
					        			style="width: 400px; height: 100px;" name="brief"/>
								<h:message for="brief" style="color:red"/>
							</td>
					    </tr>
					    <tr>
					    	<td id="view-first-column">
					        	<h:outputText value="#{msg['label.common.table.content']}"/>
					        </td>
					        <td id="view-second-column">
					        	<h:inputTextarea id="content" value="#{newsBean.currentNews.content}" 
					        			required="true" requiredMessage="#{msg['error.message.required.content']}"
					        			style="width: 400px; height: 200px;" name="content"/>
								<h:message for="content" style="color:red"/>
							</td>
					    </tr>
					</table>
					<div id="edit-button">
						<h:commandButton value="#{msg['label.common.button.update']}" 
								rendered="#{isEditPage}" action="#{pageController.updateNews}"/>
						<h:commandButton value="#{msg['label.common.button.update']}" 
								rendered="#{isAddPage}" action="#{pageController.saveNews}"/>
					</div>
				</h:form>
					<h:form>
						<h:commandButton value="#{msg['label.common.button.cancel']}" 
								rendered="#{isEditPage}" action="#{pageController.getPreviousPage}" immediate="true"/>
						<h:commandButton value="#{msg['label.common.button.cancel']}" 
								rendered="#{isAddPage}" action="news"/>
					</h:form>
 			</ui:define>
 		</ui:composition>
 	</h:body>
 </html>