<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"    
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head></h:head>
    <h:body>
    	<ui:composition template="/pages/common/template.xhtml">
 			<ui:define name="content">
 				<h:form style="display: inline;">
					<h:commandLink action="#{pageController.showNews}"
						value="#{msg['label.common.news']}" />
				</h:form>
 				<h:outputText value="#{msg['label.common.section.list']}" />
 				<div id="news-list">
 					<h:form onsubmit="return deleteNews();">
	 					<ui:repeat value="#{newsBean.newsList}" var="news" style="width: 100%;">
			    			<h:column>
			    				<br/>
					            <div id="news-list-title">
					                <h:outputText value="#{news.title}"/>
					            </div>
					            <div id="news-list-date">
					            	<h:outputText value="#{news.date}">
					            		<f:converter converterId="com.epam.news2.convert.DateConverter" />
					            	</h:outputText>
					            </div>
					            <br/>
					            <div id="news-list-brief">
					                <h:outputText value="#{news.brief}"/>
					            </div>
					            <div id="control">
									<h:commandLink action="#{pageController.viewNews(news.id)}"
											value="#{msg['label.common.viewtitle']}"/>
									&nbsp;&nbsp;
									<h:commandLink action="#{pageController.editNews(news.id)}"
											value="#{msg['label.common.edit']}"/>
											
									<h:selectBooleanCheckbox styleClass="selected"
									 		value="#{newsBean.selectedNews[news.id]}" />
					            </div>
				            	<br/>
			    			</h:column>
			    		</ui:repeat>
			    		<div id="delete">
							<h:commandButton value="#{msg['label.common.button.delete']}" 
									action="#{pageController.deleteNews}"
									rendered="#{not(empty newsBean.newsList)}"/>
						</div>
 					</h:form>
 				</div>
			</ui:define>
    	</ui:composition>
    </h:body>
</html>