<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"    
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head></h:head>
    <h:body>
    	<ui:composition template="/pages/common/template.xhtml">
 			<ui:define name="content">
 				<h:form style="display: inline;">
					<h:commandLink action="#{pageController.showNews}"
						value="#{msg['label.common.news']}" />
				</h:form>
 				<h:outputText value="#{msg['label.common.section.view']}" />
 				<table id="view" cellspacing="20px">
				    <tr>
				        <td id="view-first-column">
				        	<h:outputText value="#{msg['label.common.table.title']}" />
				        </td>
				        <td id="view-second-column">
				        	<h:outputText value="#{newsBean.currentNews.title}" />
				        </td>
				    </tr>
				    <tr>
				        <td id="view-first-column">
				        	<h:outputText value="#{msg['label.common.table.date']}" />
				        </td>
				        <td id="view-second-column">
				        	<h:outputText value="#{newsBean.currentNews.date}">
				            		<f:converter converterId="com.epam.news2.convert.DateConverter" />
				            	</h:outputText>
				        </td>
				    </tr>
				    <tr>
				        <td id="view-first-column">
				        	<h:outputText value="#{msg['label.common.table.brief']}" />
				        </td>
				        <td id="view-second-column">
				        	<h:outputText value="#{newsBean.currentNews.brief}" />
				        </td>
				    </tr>
				    <tr>
				        <td id="view-first-column">
				        	<h:outputText value="#{msg['label.common.table.content']}" />
				        </td>
				        <td id="view-second-column">
				        	<h:outputText value="#{newsBean.currentNews.content}" />
				        </td>
				    </tr>
				</table>
				<div id="delete">
				    <div id="floater">
				        <h:form onsubmit="return deleteNews();">
				        	<h:commandButton action="#{pageController.deleteNews}"
				        			value="#{msg['label.common.button.delete']}"/>
				        </h:form>
				    </div>
				    <h:form>
				    	<h:commandButton action="#{pageController.editNews}" 
				    			value="#{msg['label.common.button.edit']}"/>
				    </h:form>
				</div>
 			</ui:define>
 		</ui:composition>
 	</h:body>
 </html>