<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
		xmlns:h="http://java.sun.com/jsf/html" 
		xmlns:ui="http://java.sun.com/jsf/facelets">
    <body>
	    <ui:composition>
			<h1>
				<h:outputText value="#{msg['label.common.header']}" />
			</h1>
			<h:form style="display: inline;">
				<h:commandLink action="#{languageBean.setLanguage('en')}"
						value="#{msg['label.common.english']}"/>
			</h:form>
			<h:form style="display: inline;">
				<h:commandLink action="#{languageBean.setLanguage('ru')}"
						value="#{msg['label.common.russian']}"/>
			</h:form>
	    </ui:composition>
    </body>
</html>