<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html" 
		xmlns:ui="http://java.sun.com/jsf/facelets">
    <body>
	    <ui:composition>
			<h2>
				<h:outputText value="#{msg['label.common.news']}" />
			</h2>
			<ul>
				<li>
					<h:form>
						<h:commandLink action="#{pageController.showNews}"
							value="#{msg['label.common.list']}" />
					</h:form>
				</li>
				<li>
					<h:form>
						<h:commandLink action="#{pageController.addNews}"
							value="#{msg['label.common.addnews']}" />
					</h:form>
				</li>
			</ul>
	    </ui:composition>
    </body>
</html>