<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
		<h:outputStylesheet library="css" name="style.css"  />
		<h:outputScript library="js" name="scripts.js" />
    	<script type="text/javascript">
			var messages = #{pageController.messagesAsJson};
		</script>
    </h:head>
    <h:body>
		<f:view locale="#{languageBean.locale}">
			<div id="page">
			    <div id="header">
					<ui:insert name="header" >
						<ui:include src="/pages/common/header.xhtml" />
					</ui:insert>
			    </div>
			    <div id="menu">
				  	<ui:insert name="menu" >
				 		<ui:include src="/pages/common/menu.xhtml" />
				   	</ui:insert>
			    </div>
			    <div id="content">
				  	<ui:insert name="content" >
				 		<ui:include src="/pages/common/content.xhtml" />
				   	</ui:insert>
			    </div>
			    <div id="footer">
			    	<ui:insert name="footer" >
			    		<ui:include src="/pages/common/footer.xhtml" />
			    	</ui:insert>
	    	    </div>
	        </div>
    	</f:view>
    </h:body>
</html>